### Import modules

In [8]:
import numpy as np
import pandas as pd 
import scipy
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt

## VIDEO 1

### Read in the data

In [2]:
NBA = pd.read_csv("NBA_train.csv")
print(NBA.head())
print(NBA.dtypes)
print(NBA.describe())
print(NBA.shape)

   SeasonEnd                 Team  Playoffs   W   PTS  oppPTS    FG   FGA  \
0       1980        Atlanta Hawks         1  50  8573    8334  3261  7027
1       1980       Boston Celtics         1  61  9303    8664  3617  7387
2       1980        Chicago Bulls         0  30  8813    9035  3362  6943
3       1980  Cleveland Cavaliers         0  37  9360    9332  3811  8041
4       1980       Denver Nuggets         0  30  8878    9240  3462  7470

     2P   2PA   3P  3PA    FT   FTA   ORB   DRB   AST  STL  BLK   TOV
0  3248  6952   13   75  2038  2645  1369  2406  1913  782  539  1495
1  3455  6965  162  422  1907  2449  1227  2457  2198  809  308  1539
2  3292  6668   70  275  2019  2592  1115  2465  2152  704  392  1684
3  3775  7854   36  187  1702  2205  1307  2381  2108  764  342  1370
4  3379  7215   83  255  1871  2539  1311  2524  2079  746  404  1533

[5 rows x 20 columns]
SeasonEnd     int64
Team         object
Playoffs      int64
W             int64
PTS           int64
oppPTS        int64
FG            int64
FGA           int64
2P            int64
2PA           int64
3P            int64
3PA           int64
FT            int64
FTA           int64
ORB           int64
DRB           int64
AST           int64
STL           int64
BLK           int64
TOV           int64
dtype: object
         SeasonEnd    Playoffs           W           PTS        oppPTS  \
count   835.000000  835.000000  835.000000    835.000000    835.000000
mean   1996.319760    0.574850   41.000000   8370.239521   8370.239521
std       9.243808    0.494662   12.740822    581.040114    587.543959
min    1980.000000    0.000000   11.000000   6901.000000   6909.000000
25%    1989.000000    0.000000   31.000000   7934.000000   7934.000000
50%    1996.000000    1.000000   42.000000   8312.000000   8365.000000
75%    2005.000000    1.000000   50.500000   8784.500000   8768.500000
max    2011.000000    1.000000   72.000000  10371.000000  10723.000000

                FG          FGA           2P          2PA          3P  \
count   835.000000   835.000000   835.000000   835.000000  835.000000
mean   3200.367665  6873.318563  2881.324551  5956.444311  319.043114
std     287.181266   401.027166   446.097941   830.596327  199.698941
min    2565.000000  5972.000000  1981.000000  4153.000000   10.000000
25%    2974.000000  6563.500000  2510.000000  5269.000000  131.500000
50%    3150.000000  6831.000000  2718.000000  5706.000000  329.000000
75%    3434.500000  7157.000000  3296.000000  6753.500000  481.500000
max    3980.000000  8868.000000  3954.000000  7873.000000  841.000000

               3PA           FT          FTA          ORB          DRB  \
count   835.000000   835.000000   835.000000   835.000000   835.000000
mean    916.874251  1650.461078  2189.953293  1061.584431  2427.354491
std     523.982964   197.651728   244.491086   150.224519   130.671523
min      75.000000  1189.000000  1475.000000   639.000000  2044.000000
25%     413.000000  1502.500000  2008.000000   953.500000  2346.500000
50%     942.000000  1628.000000  2176.000000  1055.000000  2433.000000
75%    1347.500000  1781.000000  2352.000000  1167.000000  2516.500000
max    2284.000000  2388.000000  3051.000000  1520.000000  2753.000000

               AST          STL         BLK          TOV
count   835.000000   835.000000  835.000000   835.000000
mean   1912.112575   668.364072  419.805988  1302.837126
std     221.610925    93.393044   82.274913   153.973470
min    1423.000000   455.000000  204.000000   931.000000
25%    1735.000000   599.000000  359.000000  1192.000000
50%    1899.000000   658.000000  410.000000  1289.000000
75%    2077.500000   729.000000  469.500000  1395.500000
max    2575.000000  1053.000000  716.000000  1873.000000

[8 rows x 19 columns]
(835, 20)

## VIDEO 2

### How many wins to make the playoffs?

In [5]:
tab = NBA.groupby(['W', 'Playoffs']).size()
tab.unstack()

Playoffs   0   1
W
11         2 NaN
12         2 NaN
13         2 NaN
14         2 NaN
15        10 NaN
16         2 NaN
17        11 NaN
18         5 NaN
19        10 NaN
20        10 NaN
21        12 NaN
22        11 NaN
23        11 NaN
24        18 NaN
25        11 NaN
26        17 NaN
27        10 NaN
28        18 NaN
29        12 NaN
30        19   1
31        15   1
32        12 NaN
33        17 NaN
34        16 NaN
35        13   3
36        17   4
37        15   4
38         8   7
39        10  10
40         9  13
41        11  26
42         8  29
43         2  18
44         2  27
45         3  22
46         1  15
47       NaN  28
48         1  14
49       NaN  17
50       NaN  32
51       NaN  12
52       NaN  20
53       NaN  17
54       NaN  18
55       NaN  24
56       NaN  16
57       NaN  23
58       NaN  13
59       NaN  14
60       NaN   8
61       NaN  10
62       NaN  13
63       NaN   7
64       NaN   3
65       NaN   3
66       NaN   2
67       NaN   4
69       NaN   1
72       NaN   1

[59 rows x 2 columns]

### Compute Points Difference

In [13]:
NBA.PTSdiff = NBA.PTS - NBA.oppPTS

plt.figure()
plt.title('Check Linear Relationship')
plt.xlabel('PTSdiff')
plt.ylabel('W')
#plt.plot(X, y, 'k.')
plt.plot(NBA.PTSdiff, NBA.W, 'k.')
#plt.axis([0, 25, 0, 25])
plt.grid(True)
plt.show()